<div id="detail-station" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Details<button type="button" class="btn-close btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></h3>
    </div>
    <div class="detail panel-body">
        <h4>{{station.name}}</h4>
        <address>
            {{station.address}} {{station.city}} {{station.country}}
        </address>
        <p>Bike stands: {{station.bike_stands}}</p>
        <p>Available bikes: {{station.available_bikes}}</p>
        <p>Available bike stands: {{station.available_bike_stands}}</p>
    </div>
</div>